<div class="container">
  <%= render 'redis_web_manager/shared/status' %>
  <div class="row my-4">
    <div class="col-12">
      <table class="table">
        <thead>
        <tr>
          <th id="sort">Keys</th>
          <th>Expiration Date</th>
          <th>Type</th>
          <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <% @keys.each_with_index do |value| %>
          <tr>
            <td><%= link_to value[:key], show_key_path(key: value[:key]), class: "" %></td>
            <td><%= value[:expire] == -1 ? 'No expiration date' : distance_of_time_in_words(value[:expire])  %></td>
            <td><%= value[:type] %></td>
            <td>
              <%= link_to 'Edit', edit_key_path(key: value[:key]), title: "Edit #{value[:key]}", class: 'btn btn-sm btn-primary ml-2' %>
              <%= link_to 'Delete', destroy_key_path(key: value[:key]), method: :delete, data: {confirm: 'Are you sure ?'}, title: "Delete #{value[:key]}", class: 'btn btn-sm btn-danger ml-2' %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="d-flex align-items-center justify-content-center mt-3">
        <%= pagy_bootstrap_nav(@pagy).html_safe %>
      </div>
    </div>
  </div>
</div>