<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <ul class="nav nav-tabs">
        <% @types.each do |type| %>
          <li class="nav-item">
            <a class="nav-link" href="#<%= type %>"><%= type %></a>
          </li>
        <% end %>
      </ul>
      <div class="tab-content">
        <% @keys.group_by {|h| h[:type]}.each_with_index do |(k, v), index| %>
          <div class="tab-pane fade active <%= index == 0 ? 'show' : '' %>" id="<%= v[0][:type] %>" role="tabpanel" aria-labelledby="<%= v[0][:type] %>>-tab">
            <%= v.first(10).each do |data| %>
              <div class="card">
                <p><%= data[:type] %></p>
                <p><%= data[:value] %></p>
              </div>
            <% end %>
          </div>
      <% end %>
      </div>
    </div>
  </div>
</div>