<div class="container">
  <div class="row my-4">
    <div class="col-12">
      <%= url(@url) %>
      <%= status(@status) %>
      <%= keys(@dbsize) %>
      <%= last_save(@last_save) %>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">
            Clients
          </h5>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>ID</th>
                <th>Address</th>
                <th>Age</th>
                <th>Flag</th>
                <th>Event</th>
                <th>Last command</th>
                <th>Block</th>
              </tr>
              </thead>
              <tbody>
              <% @clients.each do |c| %>
                <tr>
                  <td class="align-middle">
                    <%= c[:id] %>
                  </td>
                  <td class="align-middle">
                    <%= c[:addr] %>
                  </td>
                  <td class="align-middle">
                    <%= age(c[:age].to_i) %>
                  </td>
                  <td class="align-middle">
                    <%= flags(c[:flags]) %>
                  </td>
                  <td class="align-middle">
                    <%= events(c[:events]) %>
                  </td>
                  <td class="align-middle">
                    <code><%= c[:cmd] %></code>
                  </td>
                  <td class="align-middle">
                    <button class="btn btn-danger">
                      Block
                    </button>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>